@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

:root {
    --theme-orange-color: #f05922;
    --text-color-1: #7c7c7c;
    --text-color-2: #3d3c3c;
    --dull-color: #8c96a2;
}

body {
    font-family: 'Asap', sans-serif;

    color: #000;
}

a:hover {
    color: var(--theme-orange-color);
}

.f-w-400 {
    font-weight: 400;
}

.cursor-pointer {
    cursor: pointer;
}

.geekmark {
    border: 2px solid #9d9b9b;
    position: relative;
    width: 15px;
    height: 15px;
    display: inline-block;
}

label[for="terms"] {
    cursor: pointer;
}

.geekmark::after {
    content: "";
    position: absolute;
    background-size: contain;
    background-image: url("../img/tick.svg");
    display: none;
    inset: 0;
}

label[for="terms"] input:checked ~ .geekmark::after {
    display: block;
}

.no-resize {
    resize: none;
}

.w-fit-content {
    width: fit-content;
}

.btn-custom-white {
    background-color: #fff;
    color: var(--theme-orange-color);
}

.btn-custom-white:hover {
    background-color: var(--theme-orange-color);
    color: #fff;
}

.text-orange {
    color: var(--theme-orange-color);
}

.text-color-1 {
    color: var(--text-color-1);
}

.text-color-2 {
    color: var(--text-color-2);
}

.text-dull {
    color: var(--dull-color);
}

.bg-orange {
    background-color: var(--theme-orange-color);
}

.bg-light-grey {
    background-color: #bec5c9;
}

.fw-500 {
    font-weight: 500;
}

.skelton {
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

.sidebar {
    border-radius: 5px;
    position: fixed;
    top: 100px;
    bottom: 0;
    background-color: #fff;
    z-index: 1029;
    height: calc(100vh - 100px);
    width: 270px;
    border-right: 1px solid #dadada;
    overflow: auto;
}

.side-menu {
    margin-left:0px;
}

.mar-left {
    padding-left: 270px;
}

.side-menu .side-menu-item {
       
        
       border-radius: 9px;
  margin-bottom: 15px;
        
}

.side-menu .side-menu-item a {
    font-size: 0.9rem;
    color: #333 !important;
    font-weight: bold;
    transition: all 0.3s ease;
    padding: 15px 0px;
    
    padding-left: 15px;
    border-radius: 5px;
}

.side-menu .side-menu-item a.router-link-active {
    color: white !important;
    background: #f05922 !important;
}

.side-menu .side-menu-item a:hover {
    color: white !important;
    background:#f05922!important;
}

.heading-color {
    color: #343434;
}

.main-navbar .nav-item .nav-link {
    color: #343434;
    font-weight: bold;
    font-size: 14px;
}

.main-navbar .nav-item .nav-link:hover {
    color: var(--theme-orange-color);
}

.login-btn {
    padding-inline: 2rem;
}

.btn {
    font-size: 0.8rem;
}

.text-on-slider {
    position: absolute;
    left: 19%;
    top: 20%;
    z-index: 1;
}

.main-slider {
    width: 77%;
    margin-left: auto;
}

.main-slider .slider-image {
    width: 100%;
    object-fit: cover;
}

.main-slider .carousel-control-prev,
.main-slider .carousel-control-next {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    right: 20%;
    left: auto;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    opacity: 1;
    transition: all 0.4s ease;
}

.main-slider .carousel-item::after {
    content: "";
    height: 85%;
    width: 100px;
    position: absolute;
    right: 1%;
    top: calc(50% - 291px);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main-slider .carousel-item:first-child:after {
    background-image: url("../img/blue-groominn.png");
}

.main-slider .carousel-item:nth-of-type(2):after {
    background-image: url("../img/brown-groominn.png");
}

.main-slider .carousel-item:last-child:after {
    background-image: url("../img/white-groominn.png");
}

.main-slider .carousel-control-prev:hover,
.main-slider .carousel-control-next:hover {
    background-color: #fff;
    color: var(--theme-orange-color);
}

.main-slider .carousel-control-prev {
    top: 44%;
}

.main-slider .carousel-control-next {
    top: 56%;
}

.main-slider .carousel-control-prev-icon,
.main-slider .carousel-control-next-icon {
    width: auto;
    height: auto;
}

.main-slider .carousel-control-prev-icon::after {
    content: "\f062";
    font-size: 1.1rem;
}

.main-slider .carousel-control-next-icon::after {
    content: "\f063";
    font-size: 1.1rem;
}

.carousel-indicators button {
    display: block;
    height: 7px;
    width: 7px;
    background-color: #fff;
    border: 1px solid transparent;
    margin-block: 2px;
    color: #fff;
    border-radius: 50%;
    opacity: 1;
}

.main-slider .carousel-indicators {
    right: 20.6%;
    display: block;
    top: 50%;
    left: auto;
    bottom: auto;
    margin: 0;
}

.carousel-indicators .active {
    background-color: var(--theme-orange-color);
}

.filter-section {
    position: relative;
    z-index: 10;
    margin-top: -2.2rem;
}

.filter-box select {
    background-color: #f2f2f2;
}

.filter-box select:focus {
    box-shadow: inset 0px 0px 0px 1px var(--theme-orange-color);
}

.features-card img {
    max-width: 55px;
    min-height: 55px;
    margin: 0 auto;
}

.bg-after-orange {
    position: relative;
}

.bg-after-orange::after {
    position: absolute;
    content: "";
    background-color: var(--theme-orange-color);
    inset: 0;
    transform: rotate(5deg);
    border-radius: 10px;
    z-index: -1;
}

.find-best-section {
    background-color: #fff5f4;
}

.orange-background {
    background-image: url("../img/orange-bg.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
}

.girl-img {
    position: relative;
    left: 160px;
}

.section-5 .text-box {
    background: rgba(224, 220, 220, 0.31);
    backdrop-filter: blur(88px);
    border-radius: 39px;
    padding: 2rem 1rem;
    width: 290px;
    bottom: 0;
    left: calc(50% - 125px);
}

.section-5 .right-side {
    background-image: url("../img/transparent-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
}

.man-image {
    background-color: #d7f8ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 68px;
    max-width: 68px;
    height: 68px;
    padding: 1.1rem;
}

.section-6 {
    background: linear-gradient(
        276.88deg,
        rgba(255, 255, 255, 0.99) 21.15%,
        #e2ebf4 113.07%
    );
}

.section-6 .boxes .white-box {
    width: 285px;
    height: 272px;
}

.section-7 {
    background-color: #f6fafd;
}

.footer-links li {
    margin-bottom: 0.5rem;
}

.footer-links li a {
    color: #5b5b5b;
    font-size: 0.8rem;
}

nav.navbar {
    transition: 0.2s linear;
}

nav.navbar.bg-color-show {
    background-color: #fff;
    box-shadow: 0 7px 15px 0 rgb(0 0 0 / 15%) !important;
}

.category-boxes {
    overflow-x: auto;
}

::-webkit-scrollbar {
    height: 8px;
    width: 7px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--theme-orange-color);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #e6e6e6;
    border-radius: 10px;
}

.category-boxes .category-box {
    min-width: 217px;
    height: 191px;
}

.facebook-btn {
    background-color: #527bcb;
}

input:focus,
.form-select:focus,
.form-control:focus {
    border-color: var(--theme-orange-color);
    box-shadow: inset 0px 0px 0px 1px var(--theme-orange-color);
}

input.border-danger,
.form-select.border-danger,
.form-control.border-danger,
.vue__time-picker.border-danger input {
    border: 1px solid #f93154;
    box-shadow: inset 0px 0px 0px 1px #f93154;
}

.form-outline .form-control:focus ~ .form-notch .form-notch-leading,
.form-outline .form-control:focus ~ .form-notch .form-notch-middle,
.form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
    border-color: var(--theme-orange-color);
}

.theme-custom-checkbox {
    visibility: hidden;
    height: 11px;
}
.custom-checkboxs {
    display: flex;
    flex-direction: column;
   
    flex-direction: column-reverse;
}

.bg-light-grey {
    background: #f8f8f8;
}

.custom-drag-label {
    padding: 1.1rem;
    border: 2px dashed var(--theme-orange-color);
    cursor: pointer;
    border-radius: 8px;
    color: #8c96a2;
    font-size: 0.8rem;
    display: block;
    font-weight: bold;
    position: relative;
    transition: 0.25s ease;
}

.custom-drag-label.drag-entered {
    background-color: var(--theme-orange-color);
    color: #fff;
}

.custom-drag-label.drag-entered svg path {
    fill: #fff;
}

.custom-file-type {
    opacity: 0;
    position: absolute;
    inset: 0;
    z-index: 1;
}

.category-tabs .nav-tabs .nav-link {
    font-size: 0.85rem;
}

.category-tabs .nav-tabs .nav-link {
    border: none;
}

.category-tabs .nav-tabs .nav-link.active,
.category-tabs .nav-tabs .nav-link:hover {
    color: var(--theme-orange-color);
    background-color: transparent;
    position: relative;
}

.navbar-nav .nav-item > a {
    position: relative;
    padding-left: 0 !important;
}

.category-tabs .nav-tabs .nav-link.active::before,
.navbar-nav .navlink-active a::before,
.category-tabs .nav-tabs .nav-link.active::after,
.navbar-nav .navlink-active a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    border-radius: 10px;
    background-color: var(--theme-orange-color);
}

.category-tabs .nav-tabs .nav-link.active::after,
.navbar-nav .navlink-active a::after {
    width: 4px;
    height: 3px;
    left: 31px;
}

.category-tabs .category-tab-pane {
    max-height: 300px;
    overflow-y: auto;
}

.form-outline .form-control.category-input,
.category-input.form-select {
    background-color: #f9f9fa;
    outline: none;
    padding-block: 0.8rem;
}

.modal-content {
    border-radius: 1rem;
}

#add-new-category-modal .custom-height {
    min-height: 300px;
}

.form-outline .form-control.category-input:focus {
    background-color: #fff;
}

.form-outline .form-control.category-input::placeholder {
    color: #8c96a2;
}

.modal-width .modal-dialog {
    max-width: 700px;
}

.service-table th,
.booking-table th {
    font-size: 0.85rem;
    color: var(--theme-orange-color);
}

.booking-table th {
    font-weight: bold;
}

.service-table th:last-child,
.service-table td:last-child,
.booking-table th:last-child,
.booking-table td:last-child {
    text-align: center;
}

.service-table td,
.booking-table td {
    font-size: 0.8rem;
    font-weight: bold;
}

.booking-table td {
    font-weight: 500;
}
/*.form-check-input.type-radio::after{
    background-color: #f05922 !important ;
}*/
.form-check-input.type-radio[type="radio"]:checked::after {
    background-color: var(--theme-orange-color);
    border-color: var(--theme-orange-color);
}

.form-check-input.type-radio,
.form-check-input.type-radio[type="radio"]:checked {
    border: 0.125rem solid var(--theme-orange-color);
}

.form-check-input:active {
    filter: brightness(100%);
}

.form-check-input.type-radio[type="radio"]:checked::before,
.form-check-input.type-radio::before {
    box-shadow: 0px 0px 0px 13px var(--theme-orange-color);
}

.spinner-border.spinner {
    height: 25px;
    width: 25px;
}

.profile-dropdown .dropdown-toggle::after {
    display: none;
}

.booking-list-filters select {
    font-size: 0.9rem;
    padding-block: 0.6rem;
}

.booking-category {
    height: 30px;
    width: 30px;
    background-color: #ebebeb;
    border-radius: 50%;
}

.booking-profiles {
    height: calc(100vh - 180px);
    overflow: auto;
    padding-left: 0.5rem;
    direction: rtl;
}

.booking-profiles::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
}

.booking-profiles .booking-pro {
    cursor: pointer;
    direction: ltr;
}

.booking-profiles .booking-pro.active {
    border: 1px solid var(--theme-orange-color) !important;
}

.booking-profiles .booking-pro .booking-btn:disabled {
    opacity: 1;
    background-color: #e4e4e4;
    color: #000 !important;
}

.notifiction-panel {
    max-height: 400px;
    width: 700px;
    z-index: 2;
    top: 150%;
    right: 0;
    background-color: #fff;
    border-radius: 40px 0px 8px 4px;
    overflow: auto;
}

.time-picker.vue__time-picker input.vue__time-picker-input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    height: auto;
    line-height: 1.6;
    color: #4f4f4f;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: all 0.2s linear;
    background-color: #f9f9fa;
    outline: none;
    padding-block: 0.8rem;
}

.vue__time-picker .dropdown {
    top: calc(3.2em + 2px) !important;
}

.vue__time-picker .dropdown ul li:not([disabled]).active,
.vue__time-picker .dropdown ul li:not([disabled]).active:hover,
.vue__time-picker .dropdown ul li:not([disabled]).active:focus {
    background-color: var(--theme-orange-color) !important;
}

.select-date {
    width: 250px;
    border: 0;
    border-radius: 9px;
    background-color: #f2f2f2;
    padding: 0.6rem 0.3rem 0.6rem 2.9rem;
    font-weight: bold;
    position: relative;
}

.select-parent::before {
    content: "";
    position: absolute;
    display: inline-block;
    background-image: url("../img//calendar.svg");
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 50px;
    z-index: 1;
}

.custom-label {
    position: relative;
    display: inline-block;
    height: 15px;
    width: 30px;
    cursor: pointer;
}

.custom-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 22px;
    border-radius: 3px;
    border: 2px solid #e4e4e4;
    transition: all 0.3s ease;
}

.custom-label:hover input ~ .checkmark {
    background-color: #ccc;
}

.custom-label input:checked ~ .checkmark {
    background-color: #199675;
    border: 0;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-label input:checked ~ .checkmark:after {
    display: block;
}

.custom-label .checkmark:after {
    left: 9px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.footer {
    background-color: #f9f9fa;
}

.payment-methods label {
    padding: 3px 6px;
    border: 1px solid transparent;
}

.payment-methods label img {
    max-width: 100px;
}

.payment-methods label.active {
    border: 1px solid var(--theme-orange-color);
    border-radius: 7px;
}

.payment-preview {
    background-color: #f0f2f5;
    border-radius: 8px;
    margin-top: 37px;
}

.master-card {
    background-color: #fdfdfd;
    border: 1px solid #e8e8e8;
    border-radius: 24px;
    margin-top: -50px;
}

.card-dots .dot {
    height: 9px;
    width: 9px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    margin-right: 13px;
}

.carted-items {
    display: flex;
    flex-wrap: wrap;
}

.carted-items .item {
    background-color: #fff;
    padding: 0.4rem 0.8rem;
    margin-right: 0.4rem;
    font-size: 0.7rem;
    margin-bottom: 0.4rem;
}

.price-tag .currency {
    font-size: 22px;
    color: #8d8d8d;
    font-weight: normal;
}

.booking-table-parent .booking-table td {
    font-family: 'Asap', sans-serif;
    vertical-align: middle;
    border-top: 1px solid #dadada;
    border-bottom: 0;
}

.booking-table-parent .booking-table td button {
    font-size: 0.72rem;
    width: 130px;
}

aside.gradiant-list {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

aside.gradiant-list a {
    color: #333 !important;
}

.multiselect-tag {
    background-color: var(--theme-orange-color) !important;
}

.about-banner {
    background-image: url("../img/about-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 68px;
    padding-block: 7rem;
    position: relative;
    z-index: 0;
    text-align: center;
    background-position: center;
}

.about-banner::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0 / 70%);
    z-index: -1;
}

.contact-form {
    background-color: rgba(248, 248, 248, 1);
    padding: 4rem 2.5rem;
    border-radius: 32px;
}

.user-profile {
    background-color: rgba(252, 252, 252, 1);
    border-radius: 3px;
}

.gm-style-iw {
    max-width: 350px !important;
}

.earning-box {
    background-color: #f8f8f8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1.4rem;
}
.earning-box .dollar-img {
    background-color: #ffd3c3;
    border-radius: 12px;
    padding: 0.8rem;
}

.earning-box .dollar-img img {
    max-width: 90%;
}

.otp-input {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #edf2f6;
    margin: 0 10px;
    font-size: 16px;
    text-align: center;
    border: none;
    color: #fff;
}
.otp-input.is-complete {
    background-color: var(--theme-orange-color);
  }
/*aside.gradiant-list {
    background: white;
    border: 1px solid #ccc;
}

aside.gradiant-list a {
    color: #333 !important;
    font-size: 1rem;
    font-weight: 500;
    transition: all .3s ease;
}*/

.mapdiv {
    border-radius: 20px;
}

@media (max-width:576px) {
    .myform .filter-box select {
        font-size: 13px;
    }
    main {
        padding-top: 60px;
    }
    .navbar-brand img {
        width: 90px;
    }
    .navbar-nav {
        width: 100%;
     
        background-color: white;
    }
    .navbar-nav li.nav-item {
        width: 100%;
        padding: 6px 13px;
        border-bottom: 1px solid #ccc;
        font-weight: normal;
    }
   
    .earning-box .text-orange {
        font-size: 15px;
    }
    .earning-box .dollar-img img {
        max-width: 70%;
    }
    .earning-box .dollar-img {
        background-color: #ffd3c3;
        border-radius: 12px;
        padding: 0.25rem 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    img.img-fluid.avatar {
        margin-left: -15px;
        max-width: 40px;
    }
    .custom__margin {
        margin-top: 50px;
    }
    .navbar-nav li.nav-item:last-child {
        margin-bottom: none;
    }
    .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.1rem;
        margin-top: 15px;}
    .myform .filter-box button {
        font-size: 13px;
        text-transform: capitalize;
        display: flex;
        justify-content: center;
    }
 .home-bannner,.home-bannner .carousel-item,.home-bannner .carousel-fade .carousel-item.active,.home-bannner .carousel-fade .carousel-item-next.carousel-item-start,.home-bannner .carousel-fade .carousel-item-prev.carousel-item-end,.home-bannner .main-slider .slider-image {
    height: 60vh;
 }
    .cards-flex {
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .section-6 .boxes .white-box {
        width: 100% !important;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px !important;
        padding-bottom: 20px !important;
    }
   .home-bannner .main-slider {
        width: 100%;
        height: 60vh;
    }
    .main-slider .carousel-indicators {
        right: 3%;
    }
    .main-slider .carousel-control-prev, .main-slider .carousel-control-next{
       display: none;
    }
    .text-on-slider {
        position: absolute;
        left: 6%;
        top: 30%;
        padding-right: 12px;
    }
    .text-on-slider h2,.text-on-slider p {
        color: white !important;
        text-shadow: 2px 2px 5px #0f0f0f;
    }
    .mar-left {
        padding-left: 0px;
    }
    .side-menu .side-menu-item a {
        font-size: 0.7em;
    }
    .sidebar {
        position: relative;
        top: 72px;
       margin-bottom: 70px;
        background-color: #fff;
        z-index: 1029;
        height: max-content;
        width: 100%;
        border-right: 1px solid #dadada;
        overflow: auto;
    }
    .booking-table th, .service-table th{
        font-size: 12px !important;
    }
    .table>:not(caption)>*>* {
        padding: 0.5rem .4rem !important;
    }
    button.btn.bg-orange.text-white.f-w-400.text-capitalize.rounded-4.shadow-0.fs-custom.ripple-surface {
    font-size: 12px !important;
    padding: 4px 14px !important;
}
    .booking-table td, .service-table td {
        
        font-weight: 400 !important;
        font-size: 12px !important;
        min-width: 90px !important;
    }
    .booking-table th, .service-table th {
        
        font-weight: 700 !important;
        font-size: 12px !important;
        min-width: 110px !important;
    }
    #shop-images-sliders button {
        display: none;
    }
    .side-menu .side-menu-item {
        margin-bottom: 0px;
        padding: 8px 0px;
        border-bottom: none;
        /* padding-bottom: 15px; */
        flex: 0 0 auto;
        margin: 3px 12px 3px 0px;
    }
    .side-menu {
        margin-bottom: 0px;
        display: flex;
    }
    .img-none {
        display: none;
    }
    .custom-card .card {
        width: 93%;
        margin: auto;
    }
    .bg-after-orange::after {
        width: 93%;
        left: 15px;
    }
    .second-col {
        margin-top: 30px !important;
    }
    .sec-col {
        margin-top: 20px !important;
    }
    .category-boxes .category-box {
        min-width: 320px;
    }
    .heading2 {
        font-size: 18px;
    }
    .section-5 .right-side {
        padding: 14px;
    }
    .section-5 .right-side .man-image {
        height: 50px;
        min-width:50px;
        max-width: 50px;
        padding: 0.5rem;
    }
    .section-5 .right-side .text-orange {
        font-size: 16px;
    }
    .contact-form {
        padding: 1.7rem;
    }
    .heading-footer {
        font-size: 15px;
    }
   
    .margin-none {
        margin:0px !important;
    }
    #app .pb-5{
        padding-bottom: 1rem !important;
    }
    #app .mb-5{
        margin-bottom: 1rem !important;
    }
    #app .mt-5{
        margin-top: 1rem !important;
    }
    #app .my-5 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    #app .my-4 {
        margin-top: .61rem !important;
        margin-bottom: .6rem !important;
    }
    #app .mx-4 {
        margin-left: .61rem !important;
        margin-right:.61rem !important;}
      
    #app .py-4 {
        padding-top: .61rem !important;
        padding-bottom: .6rem !important;
    }
    #app .px-4 {
        padding-right: .61rem !important;
        padding-left: .6rem !important;
    }
    #app .p-5 {
        padding: 1.17rem !important;
       
    }
    #app .m-5 {
        margin: 1rem !important;
       
    }
    #app .pt-5 {
        padding-top:1rem !important;
    }
    #app .py-5{
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    #app .px-5{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    #app .pe-5{
        padding-right: 1rem !important; 
    }
    #app .mx-5{
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
    #app .mt-4{
        margin-top: .4rem !important;
       
    }
    #app .pt-4{
        padding-top: .4rem !important;
       
    }
    #app .my-4{
        margin-top: .4rem !important;
        margin-bottom: .4rem !important;
       
    }
    #app .py-4{
        padding-top: .4rem !important;
        padding-bottom: .4rem !important;
       
    }
    
    #app .ps-4 {
        padding-left: .2rem !important;
    }
    #app .ms-4 {
       margin-left: 0px !important;
    }
    .category-tabs .col-3,.category-tabs .col-9 {
        width: 100% !important;
    }
    .booking-profiles {
        height: auto !important;
        margin-bottom: 30px;
        padding-left: 0px !important;
    }
    .main-booking-img {
        height: 100% ;
   
        object-fit: cover;
        max-height: 150px !important;
        border-radius: 15px !important;
    }
    .flex-wrappp {
        flex-wrap: wrap !important;
    }
    .girl-img {
        left: 0px;
    }
    .login-home  button{
        margin-top: 15px;
        float: right;
    }
    .orange-background {
        margin-top: 20px;
    }
    .section-5 .text-box {
        left: 15%;
    }
    .btn-lg, .btn-group-lg>.btn {
        padding: 0.4rem 0.8rem !important;
    font-size: 10px !important;
    }
    .termss {
        align-items: flex-start;
        font-size: 13px;
        line-height: 15px;
    }
    .form-outline .form-control.form-control-lg {
        font-size: .81rem;}
        label {
            display: inline-block;
            font-size: 14px;
        }
    .termss input {
        position: absolute;
    }
    .footer {
        padding: 10px;
    }
    .notifiction-panel{
        min-width: 320px;
    max-width: 300px;
    top: 35px;
    right: -13px;
    }
    .btn-loginn,.text-color-1 {
        font-size: 14px !important;
    }
}
/*new style*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 30px;
}

.profile_wrapper {
    background-color: #fcfcfc;
    padding: 30px;
    border-radius: 16px;
}

.main_container {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 16px;
    margin: 20px 0px;
}

.form_group {
    width: 100%;
    margin: 10px 0px;
    position: relative;
}

.reset_pass {
    position: absolute;
    bottom: 17px;
    right: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #F05922;
}

.form_group input,input,select {
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding: 5px 15px;
}

.form_group label,input label {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    color: #000000;

}
._titlelabel {
    font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
margin-top: 20px;

}

.bank__title {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #242529;
    margin: 15px 0px;


}

.footer_detail {
    margin-top: 30px;
    display: flex;
    height: 390px;
    padding: 30px 20px;
    flex-wrap: wrap;
}


.image__container {
    flex: 0 0 70%;
    height: 100%;
}

.image__container img {
    width: 100%;
    height: 340px;
    object-fit: cover;
}
.reviews-parrent .nav-tabs{
    display: flex;
    margin-bottom: 15px;
    border: 1px solid #f05922;
}
.reviews-parrent .nav-tabs li.nav-item {
    flex: 1 1 auto;
}
.reviews-parrent .nav-tabs li.nav-item button {
    width: 100%;
    font-size: 15;
}
.reviews-parrent .nav-tabs .nav-link.active {
    background-color: #f05922;
    color: white;
    border-color: #f05922;
    
}
.reviews-parrent .content-parent {
    padding: 15px 0px;
}
.reviews-parrent .content-parent .reviews .ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.reviews-parrent .content-parent .reviews .ul .review-item {
    display: block;
    margin-bottom: 25px;
}
.review-wrapper {
    display: flex;
    gap:15px
}
.review-wrapper .image {
    width: 90px;
    height: 90px;
    flex: 0 0 auto;
}
.review-wrapper .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.review-wrapper .content {
    display: flex;
    flex-direction: column;
    
    
    gap: 12px;
}
.review-wrapper .content .name {
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    text-align: initial;
}
 .review-wrapper .stars ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 10px;
    list-style: none;
}
.review-wrapper .stars i {
    color: #f05922;
    font-size: 18px;
}
.review-wrapper .content .text {
    font-size: 14px;
    line-height: 1.4;
    color: #242529;
    margin: 0px;
}
.review-wrapper .content .date {
    font-size: 14px;
    line-height: 1.4;
    color: gray;
    margin: 0px;
}
.reviews-parrent .map-wrapper {
    width: 100%;
    height: 450px;
}
.map-wrapper iframe {
    border: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.buttons__container {
    flex: 0 0 30%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.buttons__container .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttons__container button ,.btn{
/*    width: 145px;
    height: 40px;
    color: white;*/
    font-family: Roboto;
/*    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;

    border-radius: 6px;
    border: 1px solid #BEC5C9;*/
}
.buttons__shop{
    display: flex;
    cursor: pointer;
    justify-content: flex-end;
}
.buttons__container .btn_cancel,.btn_cancel {

    background: #BEC5C9;

    border: 1px solid #BEC5C9;
}

.buttons__container .btn_add ,.btn_add{

    background: #F05922;

    border: 1px solid #F05922;
}


/*==========my earnings =====*/
/*.earnings_detail {
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}

.single_earning {
    flex: 0 0 30%;
    background-color: #f8f8f8;

    padding: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.expence_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-top: 10px;
    color: #F15922;

}

.expence_amount {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 34px;

    color: #343434;
}

.expence_flow {
    height: 75px;
    width: 75px;
    background: #FFD3C3;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expence_flow img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.earnings_graph {
    display: flex;
    justify-content: space-between;


}

.graph_container {
    flex: 0 0 32%;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0px 4px 27px 9px rgba(0, 0, 0, 0.03);
    border-radius: 8px;


}*/
/*===========profile start =======*/
.profile_icon_wrapper {
    display: flex;
    margin: 20px 0px;
    align-items: center;
}
.profile_icon {
    width: 34px;
    height: 32px;
    background-color: white;
    margin-right: 9px;
    margin-left: 5px;
    
    border-radius: 5px;
    box-shadow: 0 0 10px #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_icon img{
    width: 20px;
    height: auto;
    object-fit: cover;
}
.profile__title {
    font-size: 20px;
} 
.profile_details ul
{
    display: flex;
    list-style: none;
    align-items: center;

}
.profile_details ul li {
    margin: 0px 40px;
  

}
.profile_details ul li .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    
    color: #67748E;

}
.profile_details ul li .value {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    
    color: #67748E;
    
    }
.profile_image{
    display: flex;
    align-items: center;
    border-radius: 1px solid #67748e;
    padding-right: 20px;
}
.profile_image_wrapper {
    margin-right: 20px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
}
._add {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    bottom: -5px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
._add img{
    max-width: 10px;
    max-height:10px;
    object-fit: cover;
}
.profile_image_wrapper img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
.fullname{
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #343434;;
}
.row_custom {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.row_custom .form-group {
    flex: 0 0 42% !important;
    position: relative;
} 
._select{
    position: absolute;
    width: 150px;
    top: 0px;
    right:0px;
    background-color: #F16634;
}
.row_custom ._from {
    flex: 0 0 5%;
}
.shop__footer{
    margin-top: 40px;
    padding: 10px 40px;
    width: 100%;
}
.shop_image{
    max-width: 400px;
    height: auto;
    margin: 0 auto;
}
.shop_image .profile_image_wrapper{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fs-custom{
    font-size: 0.75rem !important;
}
.without_ampm::-webkit-datetime-edit-ampm-field {
   display: none;
 }
 input[type=time]::-webkit-clear-button {
   -webkit-appearance: none;
   -moz-appearance: none;
   -o-appearance: none;
   -ms-appearance:none;
   appearance: none;
   margin: -10px; 
 }
.custom-margin{
    margin-top: 5% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}